body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eec49b;
    background-size: cover; /* Ajusta a imagem ao tamanho da tela */
    background-position: top center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    transition: background-color 0.3s ease, background-image 0.3s ease; /* Transição suave */

}

#top-bar-hack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: env(safe-area-inset-top); /* para iPhones com notch */
  z-index: 9999;
    background-color: #eec49b;
  }
  
  .dark-mode #top-bar-hack {
    background-color: #242323;
  }
  

#frase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-align: center;
  max-width: 90vw; /* Limita a largura a 90% da largura da tela */
  overflow: hidden; /* Garante que o conteúdo não transborde */
  white-space: nowrap; /* Evita quebras de linha */
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

footer {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-bottom: env(safe-area-inset-bottom, 20px); /* para iPhones com notch */
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}

#content {
  opacity: 0;
  transition: opacity 1s ease-in;
}


.container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.toggle-button {
  border: none;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgba(33, 33, 33, 0.2); /* mesma cor com transparência */
  transition: background-color 0.3s;
}

.icon {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: left 0.3s;
}

.dark-mode .icon {
  left: 25px;
}

.dark-mode {
  background-color: #242323;
  color: #fff;
}

.dark-mode .toggle-button {
  background-color: #444;
}

.sun-icon,
.moon-icon {
  width: 20px;
  height: 20px;
  display: none;
  filter: brightness(0);
  transition: opacity 0.3s ease;
}

.sun-icon{
filter:  invert(1);
}

/* Modo escuro mostra o sol */
.dark-mode .sun-icon {
  display: block;
}

/* Modo claro mostra a lua */
.light-mode .moon-icon {
  display: block;
}

/* MENU */

/* Botão hambúrguer */
.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 15px;
  cursor: pointer;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  height: 2px;
  background: #000;
  transition: 0.3s ease;
}

/* Modo escuro */
body.dark-mode .hamburger span {
  background: #fff;
}

/* Transformar em X */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu full screen */
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #E9967A;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10000; /* Acima do botão de menu */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);  /* Menu começa fora da tela, em cima */
  transition: transform 0.5s ease, opacity 0.3s ease; /* Transição suave */

}

.fullscreen-menu a:hover {
  color: #632d1b;
}

body.dark-mode .fullscreen-menu {
  background: rgba(0, 0, 0, 0.95);
  color: white;
}

body.dark-mode .fullscreen-menu a {
  color: white;
}

body.dark-mode .fullscreen-menu a:hover {
  color: #632d1b;
}


.fullscreen-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.fullscreen-menu li {
  margin: 20px 0;
}

.fullscreen-menu a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.2s;
}

/* Quando ativo */
.fullscreen-menu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);  /* Menu agora vai se mover de cima para baixo */

}
.fullscreen-menu a.disabled {
  pointer-events: none; /* Desabilita o clique */
  color: #9d533a; /* Altera a cor para indicar que o item está desabilitado */
  cursor: not-allowed; /* Altera o cursor para indicar que não é possível clicar */
}

/* Caso esteja no modo escuro */
body.dark-mode .fullscreen-menu a.disabled {
  color: #7f7f7f; /* Cor mais suave no modo escuro */
}

.fechadura {
  position: absolute; /* Permite posicionamento mais controlado */
  top: 35%; /* Move para o meio da tela */
  left: 50%; /* Move para o meio da tela */
  transform: translate(-50%, -50%); /* Centraliza corretamente */
  max-width: 300px; /* Ajusta o tamanho */
  height: auto;
  z-index: 0;
  top: 400%;
}

/* Ajuste para telas maiores */
@media (min-width: 1024px) { 
  .fechadura {
    top: 270%; /* Reduz a altura para notebooks */
  }
}

body.dark-mode .fechadura, body.dark-mode .logo {
  filter: invert(1);
}

header {
  position: absolute;
  top: 0%; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.logo {
  max-width: 30%;
  height: auto;
  width: 200px;
  margin: 0 auto;
  margin-top: 3%;
}